<a href="https://colab.research.google.com/github/URC-LCDN/python_basics/blob/main/Funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![urc_logo_ext.png]()

**Actualizado:** Agosto 2024

# **Funciones**

Al igual que la función `len()`, podemos crear nuestras propias funciones. Una función es una secuencia de instrucciones que Python debe ejecutar. Cada función de Python comienza con la palabra clave `def`,  se le asigna un nombre y puede tener algunos parámetros.

# **Sin parámetros**

In [12]:
def Hola():
  print('Hola a todos')
  print('Como estan?')

Hola()

Hola a todos
Como estan?

Al final del cuadro anterior escribimos el nombre de la función ya que Python lee y ejecuta todo desde arriba hacia abajo. Así que para poder utilizar nuestra función, tenemos que reescribir su nombre en la parte inferior.

# **Con parámetros**

In [11]:
def saludar(nombre):
    print(f"¡Hola, {nombre}!")

saludar("Carlos")

¡Hola, Carlos!

Ahora veremos la creación de una función con parámetros donde no los usamos al hacerla efectiva

In [19]:
def hola(nombre):
  print(f"!Hola {nombre}!")
  hola()

Ocurrió un error, esto es debido a que la función `hola()` requiere un parámetro que no pusimos.

In [21]:
def hola(nombre):
  print(f"!Hola {nombre}!")
hola('Pedro')

!Hola Pedro!

Las funciones nos sirven para no tener que repetir el código cada que queramos hacer algo.

Veamos un ejemplo más.

In [23]:
def bienvenida(nombre):
  print(f'Bienvenido {nombre}!')

In [24]:
bienvenida('Raquel')

Bienvenido Raquel!

# **Obtener valores de funciones**

Se puede definir funciones que retornan valores por ejemplo la suma de dos números.

In [37]:
def sumar(a, b):
    return a + b

sumar(1,2)

3

Se puede guardar el valor de una función en una variable.

In [38]:
def sumar(a, b):
    return a + b

resultado = sumar(5, 3)
print(f"La suma es: {resultado}")

La suma es: 8

# **Funciones con condiciones**

Veamos un último ejemplo. Podemos crear una función que escriba la serie de Fibonacci hasta una cota arbitraria:

In [51]:
def fib(n): #escribe la serie de Fibonacci hasta n
  """
    Imprime la serie de Fibonacci hasta n.
  """
  a, b = 0, 1
  while a < n:
    print(a, end = ' ')
    a, b = b, a + b
  print( )

Ahora llama la función que acabamos de definir

In [52]:
fib(3000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584

En este último ejemplo, el primer enunciado del cuerpo de la función es la documentación de la función. Es recomendable añadirlo, así no olvidaremos que hicimos en cada función o programa.

# **Definir funciones con un número indeterminado de argumentos**

In [44]:
def sumar(*numeros):
    total = sum(numeros)
    return total

#Ejemplo con 9 valores
resultado = sumar(1,2,3,4,5,6,7,8,9)
print(f"La suma es: {resultado}")

#Ejemplo con 45 valores
resultado = sumar(1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9)
print(f"La suma es: {resultado}")

La suma es: 45
La suma es: 225

# **Funciones con bucles**

Programar es sobre automatizar cosas, entonces no queremos saludar a cada persona por su nombre manualmente. Por eso son útiles los loops.

Hagamos una lista con los nombres de varios estudiantes:

In [46]:
estudiantes = ['Raquel', 'Antonio', 'Valeria', 'Eduardo', 'Cristina', 'Miguel']

Lo que vamos a hacer es saludar a cada estudiante por su nombre. Ya tenemos la función `hola` que hace eso. Ahora, vamos a usarla en un bucle.

In [47]:
estudiantes = ['Raquel', 'Antonio', 'Valeria', 'Eduardo', 'Cristina', 'Miguel']

for nombre in estudiantes:
  hola(nombre)
else:
  print("Son todos los estudiantes")

!Hola Raquel!
!Hola Antonio!
!Hola Valeria!
!Hola Eduardo!
!Hola Cristina!
!Hola Miguel!
Son todos los estudiantes

### `Try-Except`

Para evitar que una linea de código arroje un error y se deje de ejecutar las que están después como ocurre en el siguiente ejemplo.

In [48]:
variable1 = 'A'
print(variable1 < 3)

TypeError: '<' not supported between instances of 'str' and 'int'

Utilizamos la sentencia `try-except` de la siguiente manera

In [49]:
variable1 = 'A'
try:
    print(variable1 < 3)
except:
    print(f'La variable {variable1} no es un número')

La variable A no es un número

**Ejercicio**  

Realice un bloque de código en donde el usuario ingrese una variable, y si es un número regrese el número elevado al cubo y si no es un número que regrese un mensaje al usuario, donde indique que la variable no es un número.

In [ ]:
# Realiza aqui tu ejercicio.