<a href="https://colab.research.google.com/github/URC-LCDN/python_basics/blob/main/Operadores_aritm%C3%A9ticos_y_l%C3%B3gicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![urc_logo_ext.png]()

**Actualizado:** Agosto de 2024

# Python como Calculadora

El interprete de Python actúa como una calculadora simple: puedes escribir una expresión en él y te regresará el valor.

La sintaxis para las expresiones es sencilla: los operadores `+`, `-`,`*` y `/` funcionan como en la mayoría de otros lenguajes; también podemos usar paréntesis `(())` para agrupar y `**` para elevar a una potencia.

Por ejemplo:

In [ ]:
1+2

In [ ]:
3-4*5

 Los operadores aritméticos en Python permiten hacer uso de variables para realizar operaciones matemáticas básicas como suma, resta, multiplicación, división, entre otras.

 Para lo siguente pruebe valores distintos de a y b

Suma

In [ ]:
# 1. Suma (+)
a =
b =
suma = a + b

print(f"Suma: {a} + {b} = {suma}")

Suma: 10 + 5 = 15

Resta

In [ ]:
# 2. Resta (-)
a =
b =
resta = a - b
print(f"Resta: {a} - {b} = {resta}")

Resta: 2 - 3 = -1

Multiplicación

In [ ]:
# 3. Multiplicación (*)
a =
b =
multiplicacion = a * b
print(f"Multiplicación: {a} * {b} = {multiplicacion}")

Multiplicación: 3 * 3 = 9

División

In [ ]:
# 4. División (/)
a =
b =
division = a / b
print(f"División: {a} / {b} = {division}")

División: 10 / 5 = 2.0

División entera

Olvida el residuo de la división.

In [ ]:
# 5. División entera (//)
# Retorna el cociente sin la parte decimal
a =
b =
division_entera = a // b
print(f"División entera: {a} // {b} = {division_entera}")

División entera: 3 // 3 = 1

Módulo

In [ ]:
# 6. Módulo (%)
# Retorna el resto de la división
a =
b =
resultado_modulo = a % b
print(f"Módulo: {a} % {b} = {resultado_modulo}")

Módulo: 1 % 1 = 0

Exponenciación

In [ ]:
# 7. Exponenciación (**)
exponenciacion = a ** b
print(f"Exponenciación: {a} ** {b} = {exponenciacion}")

Combinación de operaciones

**Ejercicio**

Realice 3 operaciones combinadas donde se haga uso del parentesis

In [ ]:
#Solución ejercicio

## Números

## Variables

En algunos lenguajes de programación, las variables se pueden entender como "cajas" en las que se guardan los datos, pero en Python las variables son "etiquetas" que permiten hacer referencia a los datos

Utilizamos el signo `=` para referenciar un valor a una variable, la asiganción siempre es de izquiera a derecha, es decir, `etiqueta = valor `

In [1]:
base = 4
altura = 5*2
base * altura

40

Si una variable no está definida previamente, al tratar de usarla nos dará un mensaje de error:

`NameError: name 'a' is not defined`

In [2]:
variable_no_definida

NameError: name 'variable_no_definida' is not defined

En el caso de los números, si tratamos de operar diferentes tipos de variables (`int` y `float`), el operador convertirá todos a punto flotante.

In [3]:
4 * 3.75 - 1

14.0

Pero, si mantenemos el tipo de variable el resultado sera el mismo tipo de variable.

In [4]:
4 * 3 - 1

11

Además de las variables `int` y `float`. Python soporta otro tipo de números, como `Decimal` y `Fraction` y números complejos, para estos últimos usa el sufijo `j` o `J` para indicar la parte imaginaria.

In [5]:
numero_complejo = 3+5j

Para saber que tipo de valor tiene asignada mi variable, utilizamos la función con el nombre reservado `type`, por ejemplo veamos que el numero anterior es efectivamente un numero complejo.

In [6]:
type(numero_complejo)

complex

# Comparación de valores

Gran parte de la programación incluye comprar cosas. Lo más fácil de comparar son números.

Los operadores estándar de comparación son:

*   `<` (menor que),
*   `>` (mayor que),
*   `==` (igual a),
*   `<=` (menor que o igual a ),
*   `>=` (mayor que o igual a ) y
*   `!=` (no igual a ).

**Nota**: No conundir `=` con `==`, ya que con el primero es para asignar valores a variables y el segundo es para comprobar que dos cosas son iguales.

Veamos algunos ejemplos:

In [9]:
- 1 < 0

True

In [10]:
5 > (2+1)**2

False

In [8]:
1 == 1

True

In [11]:
3 != 1

True

In [12]:
5 >= 10/2

True

In [13]:
7 <= 11

True

EL resultado de las comparaciones siempre son Verdadero (`True`) y Falso (`False`), esta variables son de tipo booleano (`Boolean`) y son las únicas de este tipo.

La sintaxís de las variables es escribir con la primera letra en mayúscula y el resto en minúscula, `True` y `False`.

Los valores booleanos pueden ser asignados a variables, por ejemplo:

In [ ]:
true = True
true

In [ ]:
a = 2 > 5
a

Otro operador que podemos usar son `and` y `or`, donde:

*   `and` necesita que ambas comparaciones sean `True` para que el resultado final sea `True`, en caso contrario será `False`.
*   `or` necesita que sólo una de las comparaciones sea `True` para que el resultado final `True`, en caso contrario será `False`.

A continuación vemos ejemplos de su uso:

In [14]:
8 > 4 and -1 < 0

True

In [15]:
-3 > -1 or 2 < 1

False

# Ejercicio

Escribe el resultado de los siguiente comandos, depues ejecutálos y compara tu respuesta.

In [ ]:
True and True

In [ ]:
False and True

In [ ]:
True or 1 == 1

In [16]:
(1+1)**2 != 2**2

False

In [ ]:
False and False