<a href="https://colab.research.google.com/github/URC-LCDN/python_basics/blob/main/Variables_Int_Float.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![urc_logo_ext.png]()

**Actualizado:** Agosto de 2024

### **Variables Enteras (`int`)**

Una **variable `int`** (entera) en Python es un tipo de variable que almacena números enteros sin decimales.

Los números enteros pueden tener valor positivo, negativo o ser el valor cero.

#### **Ejemplo**



Aquí se define una variable entera y se le asigna un valor:

In [2]:
numero_entero = 11

El siguiente código muestra el valor de la variable entera:

In [3]:
numero_entero = 11
print("Valor de numero_entero:", numero_entero)

Valor de numero_entero: 11

#### **Conversión de Variables a Enteros con `int()`**

La función `int()` convierte un valor a un entero. Puede convertir cadenas de texto que representan números enteros o flotantes a enteros, y también puede truncar números flotantes al convertirlos a enteros.

##### Ejemplos

**Ejemplo 1: Conversión de una cadena a entero**

In [ ]:
# Conversión de una cadena de texto a entero
cadena_numero = 25"
numero_entero = int(cadena_numero)
print("Número entero:", numero_entero)

En este ejemplo, `cadena_numero` es una cadena que representa el número `25`. La función `int()` convierte esta cadena a un entero.

**Ejemplo 2: Convertir una cadena dada por el usuario a entero**

In [5]:
numero_user = int(input("Ingresa un numero"))
print("EL numero ingresado es:", numero_user)

Ingresa un numero1
Número entero: 1

En este ejemplo, `numero_user` es una cadena que representa un número ingresado por el usuario. La función `int()` convierte esta cadena a un entero.

### **Variables Flotantes (`float`)**

Una **variable `float`** (flotante) en Python es un tipo de variable que almacena números con decimales.

Estos números pueden tener una parte decimal y se utilizan para representar valores precisos en cálculos.

#### **Ejemplo**

Aquí se define una variable flotante y se le asigna un valor:

In [ ]:
numero_flotante = 3.14

El siguiente código muestra el valor de la variable flotante:

In [ ]:
# Definición de una variable flotante
numero_flotante = 3.14
print("Valor de numero_flotante:", numero_flotante)

#### **Conversión de Variables a Flotantes con `float()`**

La función `float()` convierte un valor a un número flotante.

Puede convertir cadenas de texto que representan números enteros o flotantes a flotantes.

##### Ejemplos

**Ejemplo 3: Conversión de una Cadena a Flotante**

In [ ]:
# Conversión de una cadena de texto a flotante
cadena_numero = "3.14"
numero_flotante = float(cadena_numero)
print("Número flotante:", numero_flotante)


En este ejemplo, `cadena_numero` es una cadena que representa el número `3.14`. La función `float()` convierte esta cadena a un número flotante.

**Ejemplo 4: Conversión de un Número Entero a Flotante**

In [ ]:
# Conversión de un número entero a flotante
numero_entero = 42
numero_flotante = float(numero_entero)
print("Número flotante:", numero_flotante)

En este caso, `numero_entero` es un número entero `42`. La función `float()` convierte este número a un flotante, resultando en `42.0`.

### Ejercicios

**Ejercicio 1**

Realiza un codigo que solicite al usuario que ingrese su edad y almacena el valor en una variable e imprime un mensaje que diga "Tienes [edad] años", donde [edad] es el valor ingresado por el usuario.

In [ ]:
# Escribe aqui tu resultado

**Ejercicio 2**

1. Solicita al usuario que ingrese dos números enteros.
2. Calcula la suma y la diferencia.
3. Imprime los resultados.

In [ ]:
# Escribe aqui tu resultado

**Ejercicio 3**

realiza un codigo que solicite al usuario que ingrese su altura en metros como un número flotante e imprime un mensaje que diga "Tu altura es [altura] metros", donde [altura] es el valor ingresado.

In [ ]:
# Escribe aqui tu resultado